.nav {
  display: flex;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1;
}

.nav ul {
  width: 50%;
  height: 60px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul:first-child {
  margin-left: 30px;
}

.nav ul li {
  font-weight: 600;
}

.nav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .brand h3 {
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
}

.nav .brand img {
  width: 32px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .nav .brand h3 {
    display: none;
  }
}

/* layout component */
.main {
  width: 100%;
  padding: 4rem 0;
}

.container {
  width: 90%;
  margin: 2rem auto;
}

/* text input component */
.textInput {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 2px;
}

.textInput input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0.3rem 0.7rem;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.textInput span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* button component */
.button {
  background: var(--successGreen);
  color: var(--fontPrimary);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 0px;
}

.button:hover {
  background: var(--fontPrimary);
  color: #fff;
}

.button:hover span {
  color: #fff;
}

/* signup component */
.signup {
  height: 500px;
}

/* login component */
.login {
  height: 330px;
}

/* illustration component */
.illustration {
  padding: 5rem 2rem;
}

.illustration img {
  max-width: 80%;
}

@media only screen and (max-width: 1023px) {
  .illustration {
    display: none;
  }
}

/* form component */
.form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 0;
}

.form label {
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
}
